/* Importando a fonte VAG Rounded */
@font-face {
    font-family: 'VAG Rounded';
    src: url('https://github.com/leozimgranny/LeozimGrannySite/releases/download/sitehopedo/vag-rounded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Aplicando a fonte ao corpo e outros elementos */
body {
    font-family: 'VAG Rounded', Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(135deg, #161e20, #1e008a); gradiente azul*/
    background: linear-gradient(135deg, #166464, #030fb1); /*gradiente de halloween */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(135deg, #1faf90, #70966c);
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'VAG Rounded', Arial, sans-serif;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'VAG Rounded', Arial, sans-serif;
}

h1, h2 {
    font-family: 'VAG Rounded', Arial, sans-serif;
    color: white;
    text-align: center;
}

.mod-box p {
    font-family: 'VAG Rounded', Arial, sans-serif;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-family: 'VAG Rounded', Arial, sans-serif;
}

TextBranco {
    font-family: 'VAG Rounded', Arial, sans-serif;
    color: white;
    text-align: center;
}

p {
    text-align: center;
    color: white;
    max-width: 600px; /* Limita a largura do parágrafo */
    font-family: 'VAG Rounded', Arial, sans-serif;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* Restante dos estilos... */
